.cart
	&__title
		font-size: 128px
		text-transform: uppercase
		font-weight: 900
		margin: 50px 0 20px
	&__subtitle
		font-size: 30px
		text-transform: uppercase
		font-weight: 900
		margin: 10px 0 20px

.cart-products
	display: flex
	flex-wrap: wrap
	gap: 70px 48.5px
	margin-top: 70px
	&__item
		width: 195px
		position: relative
		padding: 0 20px 15px 20px
		background-color: rgba(0, 0, 0, 0.25)
		text-align: center
		border-radius: 10px
	&__image
		min-height: 150px
		max-width: 150px
		margin-top: -35px
	&__remove
		color: #ff8f0f
		font-size: 30px
		position: absolute
		width: 30px
		right: 0
		top: 0
		cursor: pointer
	&__name
		text-transform: uppercase
		font-weight: 900
		font-size: 18px
		height: 36px
	&__counter
		display: flex
		justify-content: space-around
		padding: 20px 20px
		font-size: 22px
		&-less, &-more
			width: 30px
			cursor: pointer
	&__price
		font-size: 18px
	&__ruble
		vertical-align: super
		font-size: 10px

.client-data
	display: flex
	flex-direction: column
	width: 300px
	gap: 15px
	font-family: "Montserrat", sans-serif
	&__item
		background: transparent
		color: #fff
		border: 0
		border-bottom: 1px solid #fff
		height: 33px
		outline: 0
		padding: 0 5px
	&__btn-sumbit
		outline: 0
		bottom: 0px
		font-size: 20px
		background: rgba(34, 34, 34, 0)
		border: 2px solid #fff
		border-radius: 5px
		padding: 8px 14px
		color: #fff
		text-transform: uppercase
		font-weight: 600
		cursor: pointer
		width: 228px
		&:hover
			color: #000
			background: #fff
