.header
	display: flex
	justify-content: space-between
	margin-top: 30px
	align-items: center
	&__logo-login
		display: flex
		justify-content: space-between
	&__logo
		font-size: 40px
		text-transform: uppercase
		color: #ff8f0f
		text-decoration: none
		font-weight: 900

	&__cart
		color: #fff
		text-decoration: none
		display: flex
		align-items: center

	&__cart-image
		width: 40px
		height: 40px

	&__cart-numbers
		color: #ff8f0f
		font-weight: 600
		padding: 0 5px
		font-size: 18px
